---
import { Games } from '../../../data/games';
import { getGameFromPath } from '../../../utils/game';

const currentPath = Astro.url.pathname;
const selectedGame = getGameFromPath(currentPath);

const { class: className } = Astro.props;

const STYLES = {
  select: 'rounded-lg border-0 bg-background-darker text-text h-full text-xl',
  option: 'text-text-secondary text-xs',
} as const;
---

<select class:list={[STYLES.select, className]} aria-label="Select game" data-game-select>
  <option value="" class={STYLES.option}>SELECT GAME</option>
  {
    Games.map((game) => (
      <option value={game.id} selected={selectedGame?.id === game.id} class={STYLES.option}>
        {game.name.toUpperCase()}
      </option>
    ))
  }
</select>

<script>
  import { currentGameId } from '../../../stores/GameStore';
  import type { GameType } from '../../../types/Game';

  const selects = document.querySelectorAll('[data-game-select]');

  const pathParts = window.location.pathname.split('/');
  const gameId = pathParts[1] as GameType;
  if (gameId) {
    currentGameId.set(gameId);
    // Ensure select value is set
    selects.forEach((select) => {
      (select as HTMLSelectElement).value = gameId;
    });
  }

  // Handle game selection
  selects.forEach((select) => {
    select?.addEventListener('change', (e) => {
      const gameId = (e.target as HTMLSelectElement)?.value as GameType;
      currentGameId.set(gameId);
      if (gameId) {
        window.location.href = `/${gameId}`;
      } else {
        window.location.href = '/';
      }
    });
  });
</script>
