---
import type { Section } from '../../../types/Sections';

interface Props {
  title: string;
  items: Section[];
  baseUrl: string;
}

const { title, items, baseUrl } = Astro.props;
---

<div class="relative">
  <h3 class="text-lg text-primary font-semibold py-3">
    {title}
  </h3>

  <div class="mt-2">
    <div class="border border-text/10 rounded-xl bg-background-light/5">
      <ul class="py-1">
        {
          items.map((item) => (
            <li>
              <a
                href={item.externalLink ? item.externalLink : `${baseUrl}/${item.id}`}
                target={item.externalLink ? '_blank' : undefined}
                rel={item.externalLink ? 'noopener noreferrer' : undefined}
                class="group block hover:bg-primary/10 px-3 py-1.5 transition-colors"
              >
                <div class="flex items-center gap-2">
                  {item.emoji && (
                    <span class="text-xl bg-text/5 rounded-lg p-1 w-9 h-9 flex items-center justify-center">
                      {item.emoji}
                    </span>
                  )}
                  <div>
                    <span class="block text-sm text-text group-hover:text-primary transition-colors uppercase">
                      {item.title}
                    </span>
                    {item.navDescription && (
                      <span class="block text-xs text-text/60 group-hover:text-primary/60 transition-colors mt-0.5 lowercase">
                        {item.navDescription}
                      </span>
                    )}
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
